# Jupyter Shortcut
- https://cheatography.com/weidadeyue/cheat-sheets/jupyter-notebook/
- Display available methods, hit TAB
- Display tooltip, hit SHIFT TAB
- Press H to access shortcut list

# Strings and Methods

- include quotation in strings: use backslash

In [21]:
text = "She said, \"What time is it?\""
print(text)

She said, "What time is it?"

- multiline string: triple quotation preserves whitespaces

In [2]:
paragraph = """This planet has—or rather had—a problem, which was
this: most of the people living on it were unhappy for pretty much
of the time. Many solutions were suggested for this problem, but
most of these were largely concerned with the movements of small
green pieces of paper, which is odd because on the whole it wasn't
the small green pieces of paper that were unhappy."""
print(paragraph)

- string concatanation: + operator

In [6]:
first_name = "Ulysse"
second_name = "Zampo"
full_name = first_name + " " + second_name
print(full_name)

Ulysse Zampo

- String indexing: string[n]

In [11]:
Last_first_index = full_name[0] + full_name[-1]
print(Last_first_index.upper())

UO

- String slicing

In [20]:
print(full_name[:3])

Uly

- Strings are immutable: If you want to alter a string, you need to create a new one.

### String methods:
- .upper() and .lower()
- .rstrip() > remove space from right side
- .lstrip() > remove space from left side
- .strip() > remove space from both side
- .startswith('string') > Return Boolean (! is case sensitive)
- .endswith('string') > Return Boolean (! is case sensitive)
- .find() > find a substring in a string
- .replace() > replace each instance of a substring with another string

In [31]:
# .find() returns the index of the first appearance, starting from the beginning
# .find() is case sensitive
# .find() returns -1 if no match
full_name.find('ss')

3

In [34]:
# .replace()
print(full_name.replace('Ulysse','Roland'))

Roland Zampo

### Interactive program: input()

In [28]:
print("Tell me your password:")
response = input()
response = response.upper()
print('Your password starts with: ' + response[0])

Tell me your password:
whiii
Your password starts with: W

### F-strings

In [29]:
arms = 2
legs = 2
f'{first_name} has {arms} and {legs}'

'Ulysse has 2 and 2'

# Numbers and Math

In [37]:
# For long number, you can separate it by underscore for readability
1_000_000

1000000

### Arithemic operators:
- Floor division: //

In [41]:
#Floor division - automatically rounds down to an integer
6.2 // 2

3.0

In [42]:
-3 // 2 #! negative value

-2

- Power operator

In [43]:
2 ** 2

4

- Modulus operator: returns the remainder of dividing the left by the right

In [50]:
20 % 7 
#Explained: 7 divides 20, twice (7X2 = 14 - 20 = 6) + remainder

6

In [1]:
# Modulus with a divider greater than the base = the base
3 % 5

3

In [2]:
# find even numbers, divider by 2 modulus = 0
168 % 2

0

In [3]:
# find odd numbers, divider by 2 modulus = 1
167 % 2

1

- Challenge:

In [54]:
print('Enter a base:')
base = float(input())
print('Enter an exponent:')
exponent = float(input())
Product = base ** exponent
f'{base} to the power of {exponent} = {Product}'

Enter a base:
2
Enter an exponent:
8

'2.0 to the power of 8.0 = 256.0'

### Math functions and Methods

- .round(int/flot, int limits decimal) > round to the nearest integer
- .abs()
- .pow()
- Print numbers and % in style - {n:.2f}

In [57]:
n = 3.449384830
f'Print n: {n:.2f}'

'Print n: 3.45'

In [64]:
ratio = 0.54242
f'Print ratio: {ratio:.0%}'

'Print ratio: 54%'

# Functions and Loops

## Functions

In [69]:
def multipler(x,y):
    product = x * y
    return product
    print('you cannot see me')

In [70]:
multipler(2,3)

6

In [71]:
del multipler

- Functions with NO return statement<br><br>
All functions in Python return a value, even if that value is None. However, not all functions need a return statement.

In [74]:
def greet(name):
    print(f"Hello, {name}!")

greet(full_name)

Hello, Ulysse Zampo!

- Documenting functions

In [76]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [78]:
def multipiler(x,y):
    '''Return the product of two numbers '''
    product = x * y
    return product
    print('you cannot see me')

In [79]:
help(multipiler)

Help on function multipiler in module __main__:

multipiler(x, y)
    Return the product of two numbers

In [487]:
#return multiple values from function
def test11():
    return list(["a","b"])
ex1 = tuple(test11())
ex1

('a', 'b')

- Challenge

In [88]:
def convert_cel_to_far(x):
    '''Add description'''
    conversion_far = float(x) * 9/5 + 32
    return conversion_far

def convert_far_to_cel(x):
    conversion_cel = (float(x)-32) * 5/9
    return conversion_cel

print('Input a temp in Fahrenheit: ')
far = input()
far_to_cel = convert_far_to_cel(far)
print(f'Conversion from Far to Cel: {far_to_cel:.2f}')

print('Input a temp in Celsius: ')
cel = input()
cel_to_far = convert_cel_to_far(cel)
print(f'Conversion from Far to Cel: {cel_to_far:.2f}')
help(convert_cel_to_far)

Input a temp in Fahrenheit:
120
Conversion from Far to Cel: 48.89
Input a temp in Celsius:
20
Conversion from Far to Cel: 68.00

## Loops
- While

In [89]:
n = 1
while n < 31:
    print(n)
    n += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

- For

In [90]:
# range() > produces a range of numbers
for n in range(2,8):
    print(n*n)

4
9
16
25
36
49

- Challenges

In [91]:
n = 2

while n <= 10:
    print(n)
    n += 1

2
3
4
5
6
7
8
9
10

In [106]:
def invest(amount, rate, years):
    """Return the compounded interest based on amount, rate, years"""
    for y in range(years):
        amount = float(amount) * ((float(rate)/100)+1)
        y += 1
        print(f'years {y}: ${amount:.2f}')

In [105]:
invest(10000,7,10)

years 1: $10700.00
years 2: $11449.00
years 3: $12250.43
years 4: $13107.96
years 5: $14025.52
years 6: $15007.30
years 7: $16057.81
years 8: $17181.86
years 9: $18384.59
years 10: $19671.51

In [107]:
help(invest)

Help on function invest in module __main__:

invest(amount, rate, years)
    Return the compounded interest based on amount, rate, years

### Break, Continue, Pass statements
https://www.digitalocean.com/community/tutorials/how-to-use-break-continue-and-pass-statements-when-working-with-loops-in-python-3

In [4]:
# Break : exit the loop
number = 0

for number in range(10):
    if number == 5:
        break    # break here

    print('Number is ' + str(number))

print('Out of loop')

In [ ]:
# Continue : stop the loop and go to next elements
number = 0

for number in range(10):
    if number == 5:
        continue    # continue here

    print('Number is ' + str(number))

print('Out of loop')

In [ ]:
# Pass : Pass the section and continue executing the remaining code of the loop, go to next elements
number = 0

for number in range(10):
    if number == 5:
        pass    # pass here

    print('Number is ' + str(number))

print('Out of loop')

## Scope

<b>LEGB rule:</b> Local, Enclosing, Global, Built-in

1. <b>Local:</b> The local, or current, scope could be the body of a function
or the top-level scope of a code file. It always represents the scope
that the Python interpreter is currently working in.
2. <b>Enclosing:</b> The enclosing scope is the scope one level up from
the local scope. If the local scope is an inner function, then the
enclosing scope is the scope of the outer function. If the scope is
a top-level function, then the enclosing scope is the same as the
global scope.
3. <b>Global:</b> The global scope is the topmost scope in a program. It
contains all the names defined in the code that are not contained
in a function body.
4. <b>Built-in:</b> The built-in scope contains all the names, such as keywords, that are built into Python. Functions such as round() and
abs() are in the built-in scope. Anything that you can use without
first defining it yourself is contained in the built-in scope.

# Conditional logic and Control flow

### Conditional logic

- Boolean comparator
    - ' > '
    - ' < '
    - ' >= '
    - ' <= '
    - ' != '
    - ' == '
    - ' __ ' equals to

In [108]:
"good" != "Good"

True

In [109]:
123 == "123"

False

Combination Using <b>and</b> <br>
True and True  = True<br>
True and False = False<br>
False and True = False<br>
False and False = False<br><br>


Combination Using <b>or</b> <br>
True or True = True<br>
True or False = True<br>
False or True = True<br>
False or False = False<br><br>

Operator Order of Precedence (Highest to Lowest)<br>
<, <=, ==, >=, ><br>
not<br>
and<br>
or

### Control flow

- <b>if</b>  <b>elif</b>  <b>else</b>  statement

In [119]:
#Example of complex if
sport = sport.lower()

if p1_score == p2_score:
    print("The game is a draw.")
elif (sport == "basketball") or (sport == "golf"):
    p1_wins_bball = (sport == "basketball") and (p1_score > p2_score)
    p1_wins_golf = (sport == "golf") and (p1_score < p2_score)
    p1_wins = p1_wins_bball or p1_wins_golf
    if p1_wins:
        print("Player 1 wins.")
    else:
        print("Player 2 wins.")
else:
    print("Unknown sport")

NameError: name 'sport' is not defined

In [116]:
print('Enter a positive integer:')
n = int(input())

for x in range(1,n+1):
    if (12 % x) == 0:
        print(f'{x} is a factor of {n}')
        x += 1

Enter a positive integer:
12
1 is a factor of 12
2 is a factor of 12
3 is a factor of 12
4 is a factor of 12
6 is a factor of 12
12 is a factor of 12

- <b> Break </b> keyword
    - break out of a loop

- <b> Continue </b> keyword
    - skip and execute remaining code

# Tuples, list and dictionaries

A data structure models a collection of data, such as a list of numbers, a row in a spreadsheet, or a record in a database.

### Tuples

1. Tuples are ordered
2. Tuples are immutable
3. Tuples are iterable (can use for loop)
4. Tuples may contain any type of value, incl. different types

In [130]:
# Tuple literals
ex_tuple = (1,2,3)
ex2_tuple = ("a",5,6.9)
ex3_tuple = ('Ulysse', 'Z', 'ampo')
one_element_tuple = ('Yo',)
ex3_tuple

('Ulysse', 'Z', 'ampo')

In [126]:
ex_tuple

(1, 2, 3)

In [123]:
# Built-in Tuple
# Built-in Tuple only accept single parameters
tuple('Ulysse')

('U', 'l', 'y', 's', 's', 'e')

In [134]:
# Built-in Tuples are iterable, 
# the value must contain multiple values that can be accessed one by one
# integer is not iterable
tuple(139849)

TypeError: tuple expected at most 1 argument, got 3

In [138]:
# Indexing and slicing works with tuples
ex2_tuple[1:]

(5, 6.9)

In [135]:
# In Operator with Tuple
1 in ex_tuple

True

In [136]:
# Returning multiple values from a function
def adder_subtractor(n1,n2):
    return(n1+n2,n1-n2)
adder_subtractor(14,95)

(109, -81)

In [141]:
# Packing and Unpacking Tuples
a = 33.4,44.44,99.55 #Packing
type(a)

tuple

In [143]:
b,c,d = a #Unpacking
type(b)

float

### Lists

   1. List are ordered
   2. Lists are <b>mutable</b>
   3. Lists are iterable (can use for loop)

NB: String, Tuple and list are SEQUENCE type data. Meaning it contains items that are indexed by integers.

#### Methods

.split() > convert a string in a list based on a delimiter <br>
.insert() > insert a single new value in a list NB: inplace alteration<br>
.pop() > removes a single value<br>
.append() > add one element at the end of a list<br>
.extend() > add multiple elements at the end of a list

In [144]:
#List literal

list_ex = ['yo','man']

In [146]:
#Built-in List

list_ex1 = list(('yo','man'))

In [147]:
 # .split() method > convert a string into a list
groceries = 'eggs, milk, coffee'
list_ex2 = groceries.split(',')
type(list_ex2)

list

In [148]:
# Lists are mutable
list_ex[0] = 'man'
list_ex

['man', 'man']

In [150]:
# .insert()
list_ex.insert(3,'yo')
# .pop()
list_ex.pop() #no parameters, remove the last value

'yo'

In [166]:
list_ex = list_ex[:3]
list_ex

['man', 'man', 'yo']

In [163]:
# .append() add one element
list_ex.append(groceries.split(','))
list_ex

['man', 'man', 'yo', ['eggs', ' milk', ' coffee']]

In [167]:
# .extend() add multiple elements
list_ex.extend(groceries.split(','))
list_ex

['man', 'man', 'yo', 'eggs', ' milk', ' coffee']

#### List of numbers

In [171]:
num_list = [1,2,3,4,5]
sum(num_list)
min(num_list)
max(num_list)

5

In [172]:
num_tuple = (4,5,6,8)
sum(num_tuple)
min(num_tuple)
max(num_tuple)

8

#### List Comprehensions

Shorthand for loop from iterable

In [173]:
square = [n**2 for n in num_tuple]
square

[16, 25, 36, 64]

In [175]:
str_num = ['1.4','3.5','6.6']
converted_num = [float(n) for n in str_num]
type(converted_num[0])

float

#### Nesting, Copying and Sorting Tuples and Lists

In [178]:
# Copying: Shallow vs Deepcopy
# To copy a list use slice notication [:]
str_num2 = str_num[:]
str_num2

['1.4', '3.5', '6.6']

In [180]:
# To deepcopy a list of lists import copy
import copy
str_num3 = ['1.4','3.5','6.6',['1.4','3.5','6.6']]
str_num3_copy = copy.deepcopy(str_num3)
str_num3_copy

['1.4', '3.5', '6.6', ['1.4', '3.5', '6.6']]

Notes: A variable name is really just a reference to a specific location in computer memory. Instead of copying all the contents of the list object
and creating a new list, large_cats = animals assigns the memory location referenced by animals to large_cats. That is, both variables now
refer to the same object in memory, and any changes made to one will
affect the other.

In [182]:
# Sorting using .sort()
# .sort(key) > key accept function returning one single argument
# INPLACE
def get_second_element(item):
    return item[1]

items = [(4, 1), (1, 2), (-9, 0)]
items.sort(key=get_second_element)
items

[(-9, 0), (4, 1), (1, 2)]

#### Challenge

In [183]:
data = ((1,2),(3,4))

In [192]:
sum(data[1])

7

In [195]:
row = 0
for i in data:
    row += 1
    print(f'Row {row} sum: {sum(i)}')

Row 1 sum: 3
Row 2 sum: 7

#### Challenge

In [196]:
universities = [
['California Institute of Technology', 2175, 37704],
['Harvard', 19627, 39849],
['Massachusetts Institute of Technology', 10566, 40732],
['Princeton', 7802, 37000],
['Rice', 5879, 35551],
['Stanford', 19535, 40569],
['Yale', 11701, 40500]
]

In [249]:
def enrollment_stat(uni_date):
    students = []
    for i in uni_date:
        students.append(i[1])
    
    tuition = []
    for i in uni_date:
        tuition.append(i[2])
    
    return students, tuition

In [250]:
enrollment_values, tuition = enrollment_stat(universities)

In [296]:
enrollment_values

[2175, 5879, 7802, 10566, 11701, 19535, 19627]

In [289]:
tuition

[35551, 37000, 37704, 39849, 40500, 40569, 40732]

In [307]:
def mean(list_arg):
    return sum(list_arg)/len(list_arg)

In [290]:
mean(enrollment_values)

11040.714285714286

In [308]:
def median(list_arg):
    """Return the median value of the list 'list_arg'"""
    list_arg.sort()
    #If the number of value is odd, return centered value
    if len(list_arg)%2 == 1:
        index = int(len(list_arg)/2) #int() round down
        return list_arg[index]
    else:
        #If number of value is even, return the mean of two centered values
        left_center_index = (len(list_arg)-1) / 2
        right_center_index = (len(list_arg)+1) / 2
        return mean(list_arg[left_center_index],list_arg[right_center_index])

In [309]:
median(enrollment_values)

10566

In [310]:
print('***********************')
print(f'Total students: {sum(enrollment_values):,}')
print(f'Total Tuition: $ {sum(tuition):,}')
print('   ')
print(f'Students mean: {mean(enrollment_values):,.2f}')
print(f'Students median: {median(enrollment_values):,}')
print('   ')
print(f'Tuition mean: $ {mean(tuition):,.2f}')
print(f'Tuition median: $ {median(tuition):,}')
print('***********************')

***********************
Total students: 77,285
Total Tuition: $ 271,905

Students mean: 11,040.71
Students median: 10,566

Tuition mean: $ 38,843.57
Tuition median: $ 39,849
***********************

### Dictionaries

1. Unordered
2. Iterable
3. Mutable

A Python dictionary is a data structure that relates a set of keys to a
set of values. Each key is assigned a single value, which defines the
relationship between the two sets.

In [357]:
# dic literals
capitals = {
    'Belgium':'Brussels',
    'Spain':'Madrid',
    'Italy':'Rome'
}

#### Accessing Dict values

In [358]:
capitals['Belgium']

'Brussels'

Typing capitals["Texas"] is easier to understand than capitals_list[2], and you don’t have to remember the order of data in a long list or tuple. 

<b>This idea of ordering is really the main difference between how items are accessed in a sequence type and in a dictionary.</b>

Values in a sequence type are accessed by index, which is an integer value expressing the order of items in the sequence. On the other hand, items in a dictionary are accessed by key. Keys don’t define an order for dictionary items. They only provide a label that can be used to reference a value.

In [359]:
# adding a key-value
capitals['Germany']='Berlin'
capitals

{'Belgium': 'Brussels',
 'Spain': 'Madrod',
 'Italy': 'Rome',
 'Germany': 'Berlin'}

In [362]:
# removing a key-value
del capitals['Spain']

KeyError: 'Spain'

In [363]:
capitals

{'Belgium': 'Brussels', 'Italy': 'Rome', 'Germany': 'Berlin'}

In [365]:
# iterate with key
for key in capitals:
    print(f'{key}')

Belgium
Italy
Germany

In [368]:
# iterate with key-value using .items()
for key, value in capitals.items():
    print(f'{key}-{value}')

Belgium-Brussels
Italy-Rome
Germany-Berlin

### Dict Keys and Immutability

<b>Only immutable types are allowed.</b> 
This means, for example, that a list can’t be a dictionary key.

Valid Dictionary Key Types:<br>
- integers<br>
- floats<br>
- strings<br>
- Booleans<br>
- tuples

### Nested Dictionnaries

In [370]:
states = {
 "California": {
 "capital": "Sacramento",
 "flower": "California Poppy"
 },
 "New York": {
 "capital": "Albany",
 "flower": "Rose"
 },
 "Texas": {
 "capital": "Austin",
 "flower": "Bluebonnet"
 },
 }

In [371]:
states['California']

{'capital': 'Sacramento', 'flower': 'California Poppy'}

#### Challenge

In [372]:
captains = {}

In [385]:
captains = {
    'Entreprise':'Picard',
    'Voyager':'Janeway',
    'Defiant':'Sisko'
           }

In [386]:
if 'Entreprise' not in captains:
    captains['Entreprise'] = 'unknown'

In [387]:
if 'Discovery' not in captains:
    captains['Discovery'] = 'unknown'

In [388]:
captains

{'Entreprise': 'Picard',
 'Voyager': 'Janeway',
 'Defiant': 'Sisko',
 'Discovery': 'unknown'}

In [390]:
for key, value in captains.items():
    print(f'The {key} is captained by {value}')

The Entreprise is captained by Picard
The Voyager is captained by Janeway
The Defiant is captained by Sisko
The Discovery is captained by unknown

In [392]:
del captains['Discovery']

In [396]:
dict([('Entreprise','Picard'),
     ('Voyager','Janeway'),
     ('Defiant','Sisko')])

{'Entreprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

#### Challenge

In [397]:
capitals_dict = {
'Alabama': 'Montgomery',
'Alaska': 'Juneau',
'Arizona': 'Phoenix',
'Arkansas': 'Little Rock',
'California': 'Sacramento',
'Colorado': 'Denver',
'Connecticut': 'Hartford',
'Delaware': 'Dover',
'Florida': 'Tallahassee',
'Georgia': 'Atlanta',
}

In [402]:
key_list = []

for key in capitals_dict:
    key_list.append(key)

In [403]:
key_list

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia']

In [415]:
state = random.choice(key_list)
capital = capitals_dict[state]
print(f'What is the capital of {state}?')
response = ''

while response.lower() != capital.lower():
    response = input()  
    if response.lower() == 'exit':
        print(f'The capital of {state} is {capital}. Goodbye')
        break
    elif response.lower() == capital.lower():
        print(f'Correct')
        break
    else:
        print(f'What is the capital of {state}?')

What is the capital of Alabama?
exit
The capital of Alabama is Montgomery. Goodbye

### Challenge

In [441]:
# first step create dictionnary with 100 cat and no hat
cats = {}
for key in range(1,101):
    cats[key] = False

# We go 100 rounds, hat on/off
for rounds in range(1,101):
    for cat, hat in cats.items():
        if (cat % rounds) == 0:
            if cats[cat] == True:
                cats[cat] = False
            else:
                cats[cat] = True

In [453]:
only_true_cat = {}

for cat, hat in cats.items():
    if hat == True:
        only_true_cat[cat] = hat

only_true_cat

{1: True,
 4: True,
 9: True,
 16: True,
 25: True,
 36: True,
 49: True,
 64: True,
 81: True,
 100: True}

In [435]:
theCats = {}

for i in range(1, 101):
    theCats[i] = False

for i in range(1, 101):
    for cats, hats in theCats.items():
        if cats % i == 0:
            if theCats[cats]:
                theCats[cats] = False
            else:
                theCats[cats] = True

for cats, hats in theCats.items():
    if theCats[cats]:
        print(f"Cat {cats} has a hat.")
    else:
        print(f"Cat {cats} is hatless!")

Cat 1 has a hat.
Cat 2 is hatless!
Cat 3 is hatless!
Cat 4 has a hat.
Cat 5 is hatless!
Cat 6 is hatless!
Cat 7 is hatless!
Cat 8 is hatless!
Cat 9 has a hat.
Cat 10 is hatless!
Cat 11 is hatless!
Cat 12 is hatless!
Cat 13 is hatless!
Cat 14 is hatless!
Cat 15 is hatless!
Cat 16 has a hat.
Cat 17 is hatless!
Cat 18 is hatless!
Cat 19 is hatless!
Cat 20 is hatless!
Cat 21 is hatless!
Cat 22 is hatless!
Cat 23 is hatless!
Cat 24 is hatless!
Cat 25 has a hat.
Cat 26 is hatless!
Cat 27 is hatless!
Cat 28 is hatless!
Cat 29 is hatless!
Cat 30 is hatless!
Cat 31 is hatless!
Cat 32 is hatless!
Cat 33 is hatless!
Cat 34 is hatless!
Cat 35 is hatless!
Cat 36 has a hat.
Cat 37 is hatless!
Cat 38 is hatless!
Cat 39 is hatless!
Cat 40 is hatless!
Cat 41 is hatless!
Cat 42 is hatless!
Cat 43 is hatless!
Cat 44 is hatless!
Cat 45 is hatless!
Cat 46 is hatless!
Cat 47 is hatless!
Cat 48 is hatless!
Cat 49 has a hat.
Cat 50 is hatless!
Cat 51 is hatless!
Cat 52 is hatless!
Cat 53 is hatless!
Cat 54 is hatless!
Cat 55 is hatless!
Cat 56 is hatless!
Cat 57 is hatless!
Cat 58 is hatless!
Cat 59 is hatless!
Cat 60 is hatless!
Cat 61 is hatless!
Cat 62 is hatless!
Cat 63 is hatless!
Cat 64 has a hat.
Cat 65 is hatless!
Cat 66 is hatless!
Cat 67 is hatless!
Cat 68 is hatless!
Cat 69 is hatless!
Cat 70 is hatless!
Cat 71 is hatless!
Cat 72 is hatless!
Cat 73 is hatless!
Cat 74 is hatless!
Cat 75 is hatless!
Cat 76 is hatless!
Cat 77 is hatless!
Cat 78 is hatless!
Cat 79 is hatless!
Cat 80 is hatless!
Cat 81 has a hat.
Cat 82 is hatless!
Cat 83 is hatless!
Cat 84 is hatless!
Cat 85 is hatless!
Cat 86 is hatless!
Cat 87 is hatless!
Cat 88 is hatless!
Cat 89 is hatless!
Cat 90 is hatless!
Cat 91 is hatless!
Cat 92 is hatless!
Cat 93 is hatless!
Cat 94 is hatless!
Cat 95 is hatless!
Cat 96 is hatless!
Cat 97 is hatless!
Cat 98 is hatless!
Cat 99 is hatless!
Cat 100 has a hat.

In [436]:
number_of_cats = 100
cats_with_hats = []
number_of_laps = 100

# We want the laps to be from 1 to 100 instead of 0 to 99
for lap in range(1, number_of_laps + 1):
    for cat in range(1, number_of_cats + 1):

        # Only look at cats that are divisible by the lap
        if cat % lap == 0:
            if cat in cats_with_hats:
                cats_with_hats.remove(cat)
            else:
                cats_with_hats.append(cat)

print(cats_with_hats)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Object Oriented Programming
<br>
OOP, or object-oriented programming, is a method of structuring a program by bundling related properties and behaviors into individual objects.

Classes are used to define and process a object. It provides consistency across the code base for a specific object.

 - <b>A class</b> is a blueprint for how something should be defined.<br>

 - <b>An instance</b>< is an object that is built from a class and that contains real data.br>

 - <b>An instance attribtue</b> is the value specific to a particular instance/object.<br>

 - <b>A class attribtue</b> is the value shared by all instances of the same class.<br>

 - <b>An instance method</b> is a function definied inside that class and can only be called from an instance of that class.<br>

In [534]:
# Initiating an Object
class Dog:
    # Class attribute
    species ='Canis familiaris'
    # Instance attributes
    def __init__(self,name,age,coat_color):
        self.name = name
        self.age = age
        self.coat_color = coat_color

    # Instance method
    def description(self):
        return f'{self.name} is {self.age} years old'
    
    def speak(self,sound):
        return f'{self.name} barks: {sound}'
    
    # Dunder Methods - able to customize OOP in Python
    def __str__(self):
        return f'{self.name} is {self.age} years old'

In [535]:
ravel = Dog('Ravel',12,'White and Black')
aston = Dog('Aston',5,'Beige')
eliot = Dog('Eliot',15,'Black')

In [515]:
ravel.name

'Ravel'

In [498]:
#Object are mutable hence can be changed dynamically
ravel.age = 13
ravel.age

13

In [503]:
ravel.description()

'Ravel is 12 years old'

In [504]:
ravel.speak('Hiiii')

'Ravel says Hiiii'

In [507]:
print(ravel)

Ravel is 12 years old

In [516]:
print(f"{eliot.name}'s coat is {eliot.coat_color}")

Eliot's coat is Black

#### Challenge

In [522]:
class car:
    def __init__(self,color,mileage):
        self.color = color
        self.mileage = mileage
    def drive(self, km):
        self.mileage = self.mileage + km
        return self.mileage

In [523]:
car1 = car('red',0)

In [524]:
car1.drive(100)
car1.mileage

100

### Inherit from other classes

Inheritance is the process by which one class takes on the attributes and methods of another.

- <b>Child class</b> newly formed class within a Parent class<br>
- <b>Parent class</b>, main class containing child class<br>

Child classes can override or extend the attributes and methods of parent classes. In other words, child classes inherit all of the parent’s attributes and methods but can also specify attributes and methods that are unique to themselves

In [532]:
class Bulldog(Dog):
    def speak(self, sound='Woof'):
        return super().speak(sound) #.super() is used to access parent class
       #f'{self.name} says {sound}'

In [527]:
jack = Bulldog('jack',3,'white')

In [528]:
jack.speak()

'jack says Woof'

In [531]:
ravel.speak('hiii')

'Ravel says hiii'

In [536]:
ravel.speak('hiii')

'Ravel barks: hiii'

#### Challenge

In [540]:
class Dog1:
    species = "Canis familiaris"
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def __str__(self):
        return f"{self.name} is {self.age} years old"
    def speak(self, sound):
        return f"{self.name} says {sound}"

class GoldenRetriever(Dog1):
    def speak(self, sound='Bark'):
        return super().speak(sound='Bark')

In [543]:
golden = GoldenRetriever('Aston',2)

In [544]:
golden.speak()

'Aston says Bark'

#### Challenge

In [586]:
class Rectangle:
    
    def __init__(self,length,width):
        self.length = length
        self.width = width
        
    def area(self):
        return self.length * self.width
    
class Square(Rectangle):
    
    def __init__(self, side_length):
        super().__init__(side_length, side_length)

square1 = Square(4)
square1.area()
# Use inheritance with caution

16

#### Challenge

In [625]:
class Animal:
    
    def __init__(self,specy,sleeping,legs,count):
        self.specy = specy
        self.sleeping = sleeping
        self.legs = legs
        self.count = count
        
    def count_animals(self):
        return print(f'The farm has {self.count} {self.specy}')
    
    def describe(self):
        return print(f'{self.specy} sleeps {self.sleeping} and run with {self.legs}')
    
class Chicken(Animal):
    
    def __init__(self, count):
        super().__init__('Chicken','Outdoor','2 legs',count)
        
    def describe(self):
        return super().describe()

In [626]:
chicken1 = Chicken(55)

In [627]:
chicken1.describe()

Chicken sleeps Outdoor and run with 2 legs

In [623]:
sheep1 = Animal('Sheep','outdoor','4',198)

In [624]:
sheep1.describe()

Sheep sleeps outdoor and run with 4